

body {
  background-color: #c3bbbd;
}

h2 {
  font-family: cursive;
  font-size: 30px;
}

h3 {
  font-style: italic;
  font-size: 22px;
  margin-bottom: -15px;
}

b{
  font-family: sans-serif;
  font-size: 13px;
}

i {
  font-size: 15px;
}
